[submodule "linux/zsh/.oh-my-zsh/custom/fzf-git"]
	path = linux/zsh/.oh-my-zsh/custom/fzf-git
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "linux/zsh/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = linux/zsh/.oh-my-zsh/custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "linux/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = linux/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "linux/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = linux/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
